/*
post table

*/

body {
  height: 150%;
  background-color: whitesmoke;
}
.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid rgb(77, 75, 75);
  border-right: 1px solid rgb(77, 75, 75);
}
.posts li {
  display: flex;
  border-bottom: 1px solid rgb(77, 75, 75);
  position: relative;
}
.posts li .logo {
  flex-basis: 15%;
  margin-top: 1px;
}
.posts .logo img {
  width: 40%;
  margin-top: 13px;
  margin-left: 3px;
}
.posts li .name_body {
  flex-basis: 85%;
  margin-top: 6px;
}
.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: gray;
}

.posts li img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}

/*
posts
*/
.post ul {
  padding: 0;
  padding: 17px;
}
@media screen and (max-width: 500px) {
  .posts li .name_body .name {
    font-size: 40px;
  }
}
/*
form
*/
.post_form {
  color: rgb(14, 13, 13);
  padding: 20px 0px;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-left: 3px solid #ccc;
}
.post_form input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.post_form textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
}
.posts li .menu_icon {
  width: 20px;
  position: absolute;
  right: 30px;
  top: 10px;
}
.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 3px;
}
.post li {
  position: relative;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 48px;
  list-style: none;
}
.posts li .menu a {
  text-decoration: none;
}

.post_form h2 {
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post_form .topheader {
  border-bottom: 1px solid grey;
  margin-bottom: 17px;
  margin-left: 17px;
}

