{% extends "base.html" %}{% block content %} {% load static %}
<section class="content">
  <section class="post_form">
    <div class="topheader">
    <img src="/static/img/twitter logo.png">
    <h2>Home</h2>
    </div>
    <form action="/" method="POST" enctype="multipart/form-data" style="margin-left: 16px;">
      {% csrf_token %}
      <div class="name-in">
      <input type="text" name="name" placeholder="Name" required />
      <div class="bod">
        <input name="body" placeholder="What's on your mind" required style="border: 0;" />
        </div>
      </div>
      <div class="tweet-bt" style="display: flex;">
        <div class="my-icon">
          <input type="file" name="image" />
        </div>
      <input class="button" type="submit" value="Tweet" />
      </div>
     
    </form>
  </section>
  <section class="posts">
    <ul style="padding: 1px;">
      {% for post in posts %}
      <li>
        {% load static %}
        <img class="menu_icon js-menu-icon" src="{% static 'img/more.png' %}" />
        <div class="menu">
          <a href="/edit/{{post.id}}/">Edit</a><br />
          <a href="/delete/{{post.id}}/">Delete</a>
          
        </div>
        <div class="logo">
          {% load static %}
          <img src="{% static 'img/user1.png' %}" />
        </div>

        <div class="name_body">
          <div>{{ post.name }}</div>
          <div>{{ post.created_at }}</div>
          <p>{{ post.body }}</p>
          <img class="post-border" src="{{ post.image.url }}" style="width: 370px; height: 370px;"></br>
          <form id="likes-form" action="{% url 'like_post' post.pk %}" method='POST'>
            {% csrf_token %}
        <button class="like-button" type="submit", name="post_id", value="{{ post.id }}" href="post_id" style="margin:3%; border:0;">
          &#10084;
        </button>
        {{post.likes}}
    </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/post.js' %}"></script>
</section>
{% endblock %}
